.weather{
    
    &_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    
    &_card{ 
        display: flex;
        background: #EFEDFA;
        height: 400px;
        min-width: 600px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    &_content{
       // background: #EFEDFA;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
       // border: 5px solid red;
        flex-direction: column;
        gap: 11px;
        align-items: center;  
    }

    &_details{
        color:black;
        background: yellow;
        width: 80%; 
    }
}
